.wrapper {
  width: 300px;
  height: 360px;
  background: white;
   font-family: 'Open Sans Condensed', sans-serif;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
  &:hover {
    transform: scale(1);
    box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
  }

  .container__img {
    width: 100%;
    height: 100%;

    .bottom {
      width: 200%;
      height: 20%;
      transition: transform 0.5s;
      &.clicked {
        transform: translateX(-50%);
      }

      .left {
        height: 100%;
        width: 50%;
        background: #f4f4f4;
        position: relative;
        float: left;

        .details__one {
          margin-top: 30px;
          // text-align: center;
          float: left;
          width: calc(80% - 40px);
        }
        .name {
          position: absolute;
          top: 20px;
          right: 5%;
           color: rgb(119, 24, 24);
          font-size: 1.2rem;
          font-weight: bold;
          text-transform: capitalize;
        }

        .price {
          position: absolute;
          bottom: 10px;
          left: 5%;
          font-size: 1.1rem;
          font-weight: normal;
        }
        .buy {
          float: right;
          width: calc(30% - 2px);
          height: 100%;
          background: #32ca84;
          transition: background 0.5s;
          border-left: solid thin rgba(0, 0, 0, 0.1);
          display: flex;
          .basket__icon {
            font-size: 1.5rem;
            padding: 30px;
            color: white;
            transition: transform 0.5s;
            text-align: center;
            align-self: center;
          }
          &:hover {
            background: #a6cdde;
          }
          &:hover i {
            transform: translateY(5px);
            color: #00394b;
          }
        }
      }
      .right {
        width: 50%;
        background: #f4f4f4;
        color: black;
        float: right;
        height: 200%;
        overflow: hidden;
        .details__two {
          font-weight: bold;
          font-size: 1.2rem;
          text-align: center;
          float: right;
          width: calc(70% - 40px);
        }
        .done {
          width: calc(30% - 2px);
          float: left;
          transition: transform 0.5s;
          border-right: solid thin rgba(255, 255, 255, 0.3);
          height: 50%;
          background-color: #32ca84;
          i {
            font-size: 30px;
            padding: 30px;
            color: white;
          }
        }
        .remove {
          width: calc(30% - 1px);
          clear: both;
          border-right: solid thin rgba(255, 255, 255, 0.3);
          height: 50%;
          background: rgb(119, 24, 24);
          transition: transform 0.5s, background 0.5s;
          &:hover {
            background: rgb(119, 24, 24);
          }
          &:hover i {
            transform: translateY(5px);
          }
          i {
            transition: transform 0.5s;
            font-size: 30px;
            padding: 30px;
            color: white;
          }
        }
        &:hover {
          .remove,
          .done {
            transform: translateY(-100%);
          }
        }
      }
    }
  }

  .inside {
    z-index: 9;
    background: rgb(119, 24, 24);
    width: 140px;
    height: 140px;
    position: absolute;
    top: -70px;
    color: white;
    right: -70px;
    border-radius: 0px 0px 200px 200px;
    transition: all 0.5s, border-radius 2s, top 1s;
    overflow: hidden;
    .icon {
      position: absolute;
      right: 65px;
      top: 85px;
      color: white;
      opacity: 1;

      span{
        color: white;
         font-size: 1.1rem;
      }
    }
    &:hover {
      width: 100%;
      right: 0;
      top: 0;
      border-radius: 0;
      height: 80%;
      .icon {
        opacity: 0;
        right: 15px;
        top: 15px;
      }
      .contents {
        opacity: 1;
        transform: scale(1);
        transform: translateY(0);
      }
    }
    .contents {
      padding: 5%;
      opacity: 0;
      transform: scale(0.5);
      transform: translateY(-200%);
      transition: opacity 0.2s, transform 0.8s;
      table {
        text-align: center;
        width: 100%;
      }
      h1,
      p,
      table {
        color: white;
      }
      p {
        font-size: 13px;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .wrapper {
    width: 250px;
    height: 250px;
  }
}
