body {
  margin: 0 auto;
  font-family: "Open Sans Condensed", sans-serif;
  background-color: #EAEDED;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
