.signup {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  height: 80vh;
  width: 100%;
  justify-content: center;
}

.sign__title {
  text-align: center;
  padding: 10px;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 50px;
  width: 100%;
  color: black;
}

#textFd{
  width: 49%;
}

.sign__up__container {
  width: 50%;
  justify-content: center;
  align-content: center;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  padding: 50px;
  height: 80vh;
}

.form__up {
  display: flex;
  width: 100%;
  padding: 10px 0;
  justify-content: space-between;
}

.text__field {
  width: 49%;
  margin-left: 15px;
}

.custom__button__up {
  width: 48%;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  font-weight: bold;
  background-color: rgb(119, 24, 24);
  color: white;
  border: none;
  border-radius: 5px;
  outline: 1px solid rgb(119, 24, 24);
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.details__up {
  color: black;
  margin-top: 20px;
  padding-left: 5px;
  margin-left: 5px;
}
