:root {
  margin: 0;
  font-size: 1rem;
  line-height: 1.2rem;
  background-color: #f8f9fa #eee;
  font-family: "Poppins-Regular", sans-serif;
}

/***************************************/
/*       NAVBAR                        */
/***************************************/

.navbar {
  display: flex;
  background-color: black;
  height: 80px;
  align-items: center;
  justify-content: space-between;
}

/* @media screen and (max-width: 400px) {
  .navbar {
    height: 50px;
    padding: 0;
  }
} */

.nav-tag {
  margin-left: auto;
  display: flex;
  margin-right: 8%;
  flex: 1;
}

@media screen and (max-width: 400px) {
  .nav-logout {
    display: none;
  }
}

@media screen and (max-width: 950px) {
  .nav-logout {
    display: none;
  }
}

.nav-logout:hover {
  color: #dc143c;
}

.nav-link {
  color: #fff;
  text-align: center;
  text-decoration: none;
  list-style: none;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* @media screen and (max-width: 400px) {
  .nav-link {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .nav-link {
    display: none;
  }
} */

/* @media screen and (max-width: 1000px) {
  .nav-link {
   margin-left: 11%;
  }
} */

.cart-count {
  color: white;
  font-size: 0.8rem;
  background-color: #32ca84;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  right: 75px;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: love;
  animation-duration: 180s;
}

.logo {
  color: #fff;
  text-align: center;
  text-decoration: none;
  list-style: none;
  margin-left: 7%;
  font-size: 1.7rem;
  font-weight: bold;
  display: flex;
  flex: 1;
}

@media screen and (max-width: 400px) {
  .logo {
    margin: auto 20px;
  }
}

.logo-title {
  padding-left: 10px;
}

/***************************************/
/*       CarouselComponent            */
/***************************************/

.CarouselComponent {
  margin: auto 20px;
  display: flex;
}

@media screen and (max-width: 400px) {
  .CarouselComponent {
    margin: 5px 0 0 0;
  }
}

.carousel {
  width: 100%;
}

.carousel-indicators {
  margin-top: 250px;
}

.caroursel-item {
  background: no-repeat center center;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}

/* .carousel-control-prev-icon{
margin-top: 200px;
}

.carousel-control-next-icon{
  margin-top: 200px;
} */

.hero-outline {
  display: flex;
  margin-top: 30px;
  overflow: hidden;
}

.rigt-bar {
  min-width: 200px;
  height: 389px;
  border: 1px solid black;
  align-items: flex-start;
  padding-left: 10px;
  font-size: 0.9rem;
  text-transform: capitalize;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #efeaf3;
}

.bar-icon {
  display: flex;
  position: relative;
  padding-left: 20px;
  cursor: pointer;
}
.bar-title {
  position: absolute;
  left: 0px;
  top: 3px;
  color: black;
}

.left-bar {
  min-width: 200px;
  height: 389px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  text-transform: capitalize;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.left-section-up {
  border: 1px solid black;
  width: 100%;
  height: 195px;
  background: url("https://i.pinimg.com/originals/cd/5a/15/cd5a15b111389999e937d4cac8901215.jpg")
    no-repeat center center;
  background-size: cover;
}
.left-section-up:hover {
  transform: scale(1.1);
  transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}

.left-section-down {
  border: 1px solid black;
  width: 100%;
  height: 195px;
  margin-top: 10px;
  background: url("https://d1csarkz8obe9u.cloudfront.net/posterpreviews/opening-soon%2C-coming-soon-design-template-2ad6ecb3bfc0d528a9999c00a642d447_screen.jpg?ts=1593776133")
    no-repeat center center;
  background-size: cover;
}

.left-section-down:hover {
  transform: scale(1.1);
  transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}
/***************************************/
/*       category                        */
/***************************************/

.category-container {
  margin-top: 50px;
  display: flex;
  padding: 10px;
}

.filter-container {
  width: 100%;
  height: 120px;
  background-color: #932389;
  margin-top: 50px;
  align-content: center;
}

.filter-heading {
  color: black;
}

.form-filter {
  width: 30%;
  padding-top: 15px;
  display: flex;
}

.filter-select {
  width: 100%;
}

.custom-buttons {
  width: 15%;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: "Open Sans Condensed";
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  border-radius: 15px;
  justify-content: center;
}

.load-more {
  margin-left: 50%;
  font-size: 0.9;
  animation-name: load;
  animation-duration: 180s;
  cursor: pointer;
}

.category-title {
  padding-top: 20px;
}

@media screen and (max-width: 400px) {
  .category-title {
    text-align: center;
  }
}

.category-search-bar {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  position: relative;
  min-width: 200px;
  width: 100%;
}

@media screen and (max-width: 400px) {
  .category-search-bar {
    display: none;
  }
}

#input {
  height: 45px;
  border-radius: 8px;
  width: 100%;
  border: 0 solid white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  /* opacity: 0.5; */
  padding: 10px;
}

input {
  outline: none;
}

button {
  outline: none;
  cursor: pointer;
}

.category-search-bar input[type="text"] {
  font-size: 1rem;
  cursor: pointer;
  padding-left: 35px;
}

.search-icon {
  position: absolute;
  left: 9px;
  top: 12px;
  opacity: 0.5;
  cursor: pointer;
}

.category-search-button {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 150px;
  border-radius: 15px;
  margin-left: 5px;
  height: 50px;
  background-color: #32ca84;
  border: 0 solid #32ca84;
  margin-top: 0;
}

/***************************************/
/*       DISPLAY                        */
/***************************************/

.product-page-display {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product-page {
  margin: 50px 8% 0px 8%;
}

.card-details {
  text-align: center;
  /* margin-right: 15px; */
}

.error {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  justify-self: center;
  margin-bottom: 158px;
}

/***************************************/
/*                               */
/***************************************/

/***************************************/
/*       FOOTER                        */
/***************************************/

.footer {
  background-color: #32ca84;
  height: 30vh;
  margin-top: 60px;
}

/***************************************/
/*       HELP                        */
/***************************************/

.help {
  margin-top: 50px;
  text-align: center;
}

/***************************************/
/*       CART                        */
/***************************************/

.cart {
  margin-top: 50px;
  text-align: center;
}

/***************************************/
/*       productPreview                 */
/***************************************/

.productPreview {
  margin: 50px 12% 0 12%;
}
.product-outline {
  display: flex;
  margin-bottom: 50px;
  overflow: hidden;
  margin-top: 50px;
}

.PreviewDetails {
  display: flex;
  flex-direction: column;
  width: 70%;
  border: 1px solid black;
  margin-left: 50px;
}

.productGallery {
  width: 30%;
  height: auto;
  /* border: 1px solid black; */
}

.image-gallery-content-bottom {
  margin-bottom: 200px;
}

.preview-text {
  text-transform: capitalize;
}

/***************************************/
/*       signup                 */
/***************************************/

/***************************************/
/*       Login            */
/***************************************/

.login {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin-top: 60px;
  justify-content: center;
  height: auto;
}

/***************************************/
/*      chat                 */
/***************************************/

/* .open-button {
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  animation-name: love;
  animation-duration: 180s;
  position: fixed;
  bottom: 23px;
  right: 28px;
  font-size: 2.5rem;
  background-color: #32ca84;
  border-radius: 50%;
} */

@media screen and (max-width: 400px) {
  .open-button {
    display: none;
  }
}

@keyframes love {
  0% {
    background-color: #d83434;
  }
  5% {
    background-color: #2aad2a;
  }
  10% {
    background-color: #582a72;
  }
  15% {
    background-color: #932389;
  }
  20% {
    background-color: #d83434;
  }
  25% {
    background-color: #2aad2a;
  }
  30% {
    background-color: #9acd32;
  }
  35% {
    background-color: #932389;
  }
  40% {
    background-color: #87ceeb;
  }
  50% {
    background-color: #ff6347;
  }
  55% {
    background-color: #fff5ee;
  }

  60% {
    background-color: #2aad2a;
  }
  65% {
    background-color: #582a72;
  }
  70% {
    background-color: #932389;
  }
  75% {
    background-color: #d83434;
  }
  80% {
    background-color: #2aad2a;
  }
  85% {
    background-color: #9acd32;
  }
  85% {
    background-color: #932389;
  }
  90% {
    background-color: #87ceeb;
  }
  95% {
    background-color: #ff6347;
  }
  100% {
    background-color: #fff5ee;
  }
}

@keyframes load {
  0% {
    color: #d83434;
  }
  5% {
    color: #2aad2a;
  }
  10% {
    color: #582a72;
  }
  15% {
    color: #932389;
  }
  20% {
    color: #d83434;
  }
  25% {
    color: #2aad2a;
  }
  30% {
    color: #9acd32;
  }
  35% {
    color: #932389;
  }
  40% {
    color: #87ceeb;
  }
  50% {
    color: #ff6347;
  }
  55% {
    color: #fff5ee;
  }

  60% {
    color: #2aad2a;
  }
  65% {
    color: #582a72;
  }
  70% {
    color: #932389;
  }
  75% {
    color: #d83434;
  }
  80% {
    color: #2aad2a;
  }
  85% {
    color: #9acd32;
  }
  85% {
    color: #932389;
  }
  90% {
    color: #87ceeb;
  }
  95% {
    color: #ff6347;
  }
  100% {
    color: #fff5ee;
  }
}

/* The popup chat - hidden by default */
.chat-popup {
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #4caf50;
  color: white;
  padding: 16px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 50%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

/***************************************/
/*      ProductUpload                 */
/***************************************/
.drop-zone-container {
  display: flex;
  justify-content: space-between;
}

.ProductUpload {
  display: flex;
  flex-wrap: wrap;
  margin: 0 11% 0 11%;
  justify-content: center;
  align-content: center;
}

.upload-container {
  display: flex;
  width: 70%;
  flex-direction: column;
  margin-top: 60px;
  justify-content: center;
  align-items: center;
}

.upload-general {
  width: 100%;
  height: 25px;
  padding-bottom: 5px;
  padding-right: 30px;
  border-width: 1px;
}

.upload-a {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.upload-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

.one {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.upload-label {
  font-weight: bold;
}

.drop-zone {
  width: 300px;
  height: 240px;
  border: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  border: 0 solid white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.upload-icon {
  font-size: 3rem;
}

.upload-submit-button {
  width: 60%;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: "Open Sans Condensed";
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.render-Image-upload {
  display: flex;
  width: 350px;
  height: 240px;
  margin-top: 20px;
  overflow-x: scroll;
  border: 1px solid lightgray;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.selected-image {
  min-width: 300px;
  width: 300px;
  height: 240px;
}

/* .image-gallery{
  width: 15%;
  height: 500px;
  border: 2px solid black;
} */

.fp-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #f8f8f8ad;
}
.fp-container .fp-loader {
  top: 50%;
  left: 48%;
  z-index: 1000;
  position: absolute;
}

.admin-page {
  display: flex;
}

.admin-container {
  display: flex;
  flex-direction: column;
  flex: auto;
  margin: 0 5% 0 5%;
}

.contain-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* margin: 20px 0; */
}
.box-flex-four {
  display: flex;
  flex: 1;
  height: 300px;
  border: 1px solid #f08080;
  margin: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 3rem;
  color: #f08080;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.box-flex-four:hover {
  color: white;
  background: #f08080;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

.box-flex-one {
  display: flex;
  flex: 1;
  height: 300px;
  margin: 20px;
  border: 1px solid #dc143c;
  color: #dc143c !important;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 3rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.box-flex-one:hover {
  color: white;
  background: #dc143c;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}
.box-flex-two {
  display: flex;
  flex: 1;
  height: 300px;
  margin: 20px;
  border: 1px solid rebeccapurple;
  color: rebeccapurple;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 3rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.box-flex-two:hover {
  color: white;
  background-color: rebeccapurple;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

.box-flex-three {
  flex: 1;
  height: 300px;
  border: 1px solid #800000;
  color: #800000;
  margin: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
  font-size: 3rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.box-flex-three:hover {
  color: white;
  background: #800000;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

.admin-title {
  font-size: 1.5rem;
  margin: 5px;
}
/* .admin-title:hover {
  color: white;
} */

.not-found {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  color: black;
}
