.container {
  display: flex;
  flex-direction: column;
  height: 520px;
  padding-bottom: 30px;
  border-radius: 5px;
  width: 100%;
  margin-top: 50px;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.top__red {
  display: flex;
  height: 50px;
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background: rgb(119, 24, 24);
  align-items: center;
  justify-content: space-around;
}
.container__content {
  display: flex;
    overflow: hidden !important;
  width: 100%;
  padding-top: 30px;
  align-items: center;
  justify-content: space-evenly;
}

.top__red span:nth-child(1) {
  text-align: start;
  padding: 20px;
  font-size: 1.2rem;
  line-height: 1.2rem;
  color: white;
  margin-right: auto;
  white-space: nowrap;
}

.top__red span:nth-child(2) {
  display: flex;
  justify-content: space-evenly;
  margin-right: 20px;
  align-items: center;
  font-size: 1.2rem;
  line-height: 1.2rem;
  color: white;
  font-weight: bold;
}
